@model List<Album>
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-flui d-flex flex-wrap">
    @foreach (Album album in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@album.AlbumArtUrl" alt="Imagem da capa." />
            <div class="card-body">
                <h6>@album.Title</h6>
                <p>R$ @album.Price</p>
                <p>Artista: @album.Artist.Name</p>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Details","Store", new {id = album.AlbumId})">
                    <button class="btn btn-primary">Comprar</button>
                </a>
            </div>
        </div>
    }
</div>