@model List<Album>
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-flui d-flex flex-wrap">
    @foreach (Album album in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@album.AlbumArtUrl" alt="Imagem da capa." />
            <div class="card-body">
                <h5><i>@album.Title </i></h5>
                <p>R$ @album.Price</p>
                <p>Artista: @album.Artist.Name</p>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Details","Store", new {id = album.AlbumId})" class="btn btn-primary">
                    Comprar
                </a>
                <a class="btn btn-info" href="@Url.Action("AddToCart","ShoppingCart", new {id = album.AlbumId})">
                    <img src="https://image.flaticon.com/icons/png/512/57/57451.png" alt="Carrinho de compras" style="height: 20px; width: 20px"/>
                </a>
            </div>
        </div>
    }
</div>